.cache
scalastyle-output.xml
.classpath
.idea
.metadata
.settings
.project
.version.properties
filter.properties
logs.zip
target
tmp
*.class
*.iml
*.swp
.DS_Store
build-target
tlassian-ide-plugin.xml
out/
/publish/
/backup/
/dist/
/build/
/data/
.ipr
*.iws
.pyc
